<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Elearning-Hibernate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <servlet>
  <servlet-name>Register</servlet-name>
  <servlet-class>com.student.UserInsert</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Register</servlet-name>
  <url-pattern>/userInsert</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>com.student.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>Admin</servlet-name>
  <servlet-class>com.admin.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Admin</servlet-name>
  <url-pattern>/adminController</url-pattern>
  </servlet-mapping>
     <servlet>
  <servlet-name>Course</servlet-name>
  <servlet-class>com.course.CourseController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Course</servlet-name>
  <url-pattern>/courseController</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>Search</servlet-name>
  <servlet-class>com.course.SearchCoursesController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Search</servlet-name>
  <url-pattern>/searchCoursesController</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>Download</servlet-name>
  <servlet-class>com.course.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Download</servlet-name>
  <url-pattern>/downloadServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>AdminRegistration</servlet-name>
  <servlet-class>com.admin.AdminRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AdminRegistration</servlet-name>
  <url-pattern>/adminRegistration</url-pattern>
  </servlet-mapping>
     <servlet>
  <servlet-name>UpdateStudent</servlet-name>
  <servlet-class>com.student.UpdateStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdateStudent</servlet-name>
  <url-pattern>/updateStudentController</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>ViewTutor</servlet-name>
  <servlet-class>com.admin.ViewTutor</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ViewTutor</servlet-name>
  <url-pattern>/viewTutor</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>Verification</servlet-name>
  <servlet-class>com.verification.AdminVerificationController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Verification</servlet-name>
  <url-pattern>/adminVerificationController</url-pattern>
  </servlet-mapping>
      
 
        <servlet>
  <servlet-name>TutorRegister</servlet-name>
  <servlet-class>com.tutors.TutorsRegistrations</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>TutorRegister</servlet-name>
  <url-pattern>/tutorsRegistrations</url-pattern>
  </servlet-mapping>
   
        <servlet>
  <servlet-name>Delete</servlet-name>
  <servlet-class>com.tutors.DeletController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Delete</servlet-name>
  <url-pattern>/deletController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Verify</servlet-name>
  <servlet-class>com.tutors.VerifyTutorController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Verify</servlet-name>
  <url-pattern>/verifyTutorController</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>Resume</servlet-name>
  <servlet-class>com.tutors.DownloadResumeController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Resume</servlet-name>
  <url-pattern>/downloadResumeController</url-pattern>
  </servlet-mapping>
</web-app>