<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MVC_company</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>Registration</servlet-name>
  <servlet-class>com.motivity.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Registration</servlet-name>
  <url-pattern>/registrationController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Patient</servlet-name>
  <servlet-class>com.motivity.PatientRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Patient</servlet-name>
  <url-pattern>/patientRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>DoctorLogin</servlet-name>
  <servlet-class>com.motivity.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DoctorLogin</servlet-name>
  <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>PatientLogin</servlet-name>
  <servlet-class>com.motivity.PatientLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>PatientLogin</servlet-name>
  <url-pattern>/patientLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UpdateDoctor</servlet-name>
  <servlet-class>com.motivity.UpdateDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdateDoctor</servlet-name>
  <url-pattern>/updateDoctorController</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>UpdatePatient</servlet-name>
  <servlet-class>com.motivity.UpdatePatientController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdatePatient</servlet-name>
  <url-pattern>/updatePatientController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>PatientAppointment</servlet-name>
  <servlet-class>com.motivity.PatientAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>PatientAppointment</servlet-name>
  <url-pattern>/patientAppointmentController</url-pattern>
  </servlet-mapping>
<servlet>
  <servlet-name>AcceptAppointment</servlet-name>
  <servlet-class>com.motivity.AcceptController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AcceptAppointment</servlet-name>
  <url-pattern>/accept_appointment</url-pattern>
  </servlet-mapping>
</web-app>