<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Company_MVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>EmployeeRegister</servlet-name>
  <servlet-class>com.company.EmployeeRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EmployeeRegister</servlet-name>
  <url-pattern>/employeeRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ManagerRegister</servlet-name>
  <servlet-class>com.company.ManagerRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ManagerRegister</servlet-name>
  <url-pattern>/managerRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>EmployeeLogin</servlet-name>
  <servlet-class>com.company.EmployeeLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EmployeeLogin</servlet-name>
  <url-pattern>/employeeLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ManagerLogin</servlet-name>
  <servlet-class>com.company.ManagerLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ManagerLogin</servlet-name>
  <url-pattern>/managerLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UpdateEmployee</servlet-name>
  <servlet-class>com.company.UpdateEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdateEmployee</servlet-name>
  <url-pattern>/updateEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UpdateManager</servlet-name>
  <servlet-class>com.company.UpdateManagerController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdateManager</servlet-name>
  <url-pattern>/updateManagerController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Leaves</servlet-name>
  <servlet-class>com.company.LeaveController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Leaves</servlet-name>
  <url-pattern>/leaveController</url-pattern>
  </servlet-mapping>
</web-app>